<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  .request_type {
    padding-top:10px;
    
  }
  </style>
  <body>
    <h1>Message Bus Live</h1>
     Successfully submitted!
    
      <h2><a href="/">Index</a></h2>
    </body>
    
</html>
